<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>LoginPage</title>
    </head>
    <body>
        <div id="login">
            <form class="card">
                
                    <h1>LOGIN</h1>
                    <input type="text" id="Email" placeholder="Email">
                    <input type="password" id="Password" placeholder="Password">
                    <br>
                    <button>Enviar</button>   
                    <br><br>
                    <a href="cadastro.html">Cadastre-se</a>
            </form>
        </div>
    </body>
</html>